body,
html {
    	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    	background: linear-gradient(120deg, #130f40, #4834d4, #8344ad);
    	width: 400px;
    	height: 200px;
	background: linear-gradient(120deg, #130f40, #4834d4, #8344ad);
	align-items: center;
	justify-content: center;
	min-height: 100%;
}
section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.playlistButton {
	margin: 1mm;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:5px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.playlistButton:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.playlistButton:active {
	position:relative;
	top:1px;
}
section h3{
	font-size: 1em;
	color: bisque;
	margin: 0;
	padding: 0;
}
